In [2]:
import os
import pandas as pd

DATA_DIR = "/Users/gaohan/rag-stock-forecasting/data/company_dataset"


symbols = sorted([f.replace(".csv", "") for f in os.listdir(DATA_DIR) if f.endswith(".csv")])
symbols

['AAPL', 'AMD', 'ASML', 'AVGO', 'GOOGL', 'MSFT', 'NVDA', 'QCOM', 'TSM', 'TXN']

In [5]:
for symbol in symbols:
    print("="*80)
    print(f"ðŸ“Œ {symbol} dataset info:\n")
    df = pd.read_csv(f"{DATA_DIR}/{symbol}.csv", parse_dates=["date"])
    print(df.info())
    print("\nMissing values per column:\n", df.isna().sum())
    print("\nDate range:", df['date'].min(), "-->", df['date'].max())
    print("="*80, "\n")

================================================================================
ðŸ“Œ AAPL dataset info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 753 entries, 0 to 752
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  753 non-null    datetime64[ns]
 1   open                  753 non-null    float64
 2   high                  753 non-null    float64
 3   low                   753 non-null    float64
 4   close                 753 non-null    float64
 5   adjusted_close        753 non-null    float64
 6   volume                753 non-null    int64
 7   dividend_amount       753 non-null    float64
 8   split_coefficient     753 non-null    float64
 9   symbol                753 non-null    object
 10  revenue               753 non-null    float64
 11  net_income            753 non-null    float64
 12  operating_income      753 non-null    float64
 13  gross_profit          753 non-null    float64
 14  total_assets          753 non-null    float64
 15  total_liabilities     753 non-null    float64
 16  long_term_debt        753 non-null    float64
 17  cash_and_equivalents  753 non-null    float64
 18  operating_cashflow    753 non-null    float64
 19  capital_expenditures  753 non-null    float64
 20  real_gdp              753 non-null    float64
 21  real_gdp_per_capita   753 non-null    float64
 22  cpi                   753 non-null    float64
 23  inflation             753 non-null    float64
 24  unemployment          753 non-null    float64
 25  federal_funds_rate    753 non-null    float64
 26  retail_sales          753 non-null    float64
 27  treasury_yield_10y    753 non-null    float64
dtypes: datetime64[ns](1), float64(25), int64(1), object(1)
memory usage: 164.8+ KB
None

Missing values per column:
 date                    0
open                    0
high                    0
low                     0
close                   0
adjusted_close          0
volume                  0
dividend_amount         0
split_coefficient       0
symbol                  0
revenue                 0
net_income              0
operating_income        0
gross_profit            0
total_assets            0
total_liabilities       0
long_term_debt          0
cash_and_equivalents    0
operating_cashflow      0
capital_expenditures    0
real_gdp                0
real_gdp_per_capita     0
cpi                     0
inflation               0
unemployment            0
federal_funds_rate      0
retail_sales            0
treasury_yield_10y      0
dtype: int64

Date range: 2022-01-03 00:00:00 --> 2024-12-31 00:00:00
================================================================================

================================================================================
ðŸ“Œ AMD dataset info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 753 entries, 0 to 752
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  753 non-null    datetime64[ns]
 1   open                  753 non-null    float64
 2   high                  753 non-null    float64
 3   low                   753 non-null    float64
 4   close                 753 non-null    float64
 5   adjusted_close        753 non-null    float64
 6   volume                753 non-null    int64
 7   dividend_amount       753 non-null    float64
 8   split_coefficient     753 non-null    float64
 9   symbol                753 non-null    object
 10  revenue               753 non-null    float64
 11  net_income            753 non-null    float64
 12  operating_income      753 non-null    float64
 13  gross_profit          753 non-null    float64
 14  total_assets          753 non-null    float64
 15  total_liabilities     753 non-null    float64
 16  long_term_debt        753 non-null    float64
 17  cash_and_equivalents  753 non-null    float64
 18  operating_cashflow    753 non-null    float64
 19  capital_expenditures  753 non-null    float64
 20  real_gdp              753 non-null    float64
 21  real_gdp_per_capita   753 non-null    float64
 22  cpi                   753 non-null    float64
 23  inflation             753 non-null    float64
 24  unemployment          753 non-null    float64
 25  federal_funds_rate    753 non-null    float64
 26  retail_sales          753 non-null    float64
 27  treasury_yield_10y    753 non-null    float64
dtypes: datetime64[ns](1), float64(25), int64(1), object(1)
memory usage: 164.8+ KB
None

Missing values per column:
 date                    0
open                    0
high                    0
low                     0
close                   0
adjusted_close          0
volume                  0
dividend_amount         0
split_coefficient       0
symbol                  0
revenue                 0
net_income              0
operating_income        0
gross_profit            0
total_assets            0
total_liabilities       0
long_term_debt          0
cash_and_equivalents    0
operating_cashflow      0
capital_expenditures    0
real_gdp                0
real_gdp_per_capita     0
cpi                     0
inflation               0
unemployment            0
federal_funds_rate      0
retail_sales            0
treasury_yield_10y      0
dtype: int64

Date range: 2022-01-03 00:00:00 --> 2024-12-31 00:00:00
================================================================================

================================================================================
ðŸ“Œ ASML dataset info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 753 entries, 0 to 752
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  753 non-null    datetime64[ns]
 1   open                  753 non-null    float64
 2   high                  753 non-null    float64
 3   low                   753 non-null    float64
 4   close                 753 non-null    float64
 5   adjusted_close        753 non-null    float64
 6   volume                753 non-null    int64
 7   dividend_amount       753 non-null    float64
 8   split_coefficient     753 non-null    float64
 9   symbol                753 non-null    object
 10  revenue               753 non-null    float64
 11  net_income            753 non-null    float64
 12  operating_income      753 non-null    float64
 13  gross_profit          753 non-null    float64
 14  total_assets          753 non-null    float64
 15  total_liabilities     753 non-null    float64
 16  long_term_debt        753 non-null    float64
 17  cash_and_equivalents  753 non-null    float64
 18  operating_cashflow    753 non-null    float64
 19  capital_expenditures  753 non-null    float64
 20  real_gdp              753 non-null    float64
 21  real_gdp_per_capita   753 non-null    float64
 22  cpi                   753 non-null    float64
 23  inflation             753 non-null    float64
 24  unemployment          753 non-null    float64
 25  federal_funds_rate    753 non-null    float64
 26  retail_sales          753 non-null    float64
 27  treasury_yield_10y    753 non-null    float64
dtypes: datetime64[ns](1), float64(25), int64(1), object(1)
memory usage: 164.8+ KB
None

Missing values per column:
 date                    0
open                    0
high                    0
low                     0
close                   0
adjusted_close          0
volume                  0
dividend_amount         0
split_coefficient       0
symbol                  0
revenue                 0
net_income              0
operating_income        0
gross_profit            0
total_assets            0
total_liabilities       0
long_term_debt          0
cash_and_equivalents    0
operating_cashflow      0
capital_expenditures    0
real_gdp                0
real_gdp_per_capita     0
cpi                     0
inflation               0
unemployment            0
federal_funds_rate      0
retail_sales            0
treasury_yield_10y      0
dtype: int64

Date range: 2022-01-03 00:00:00 --> 2024-12-31 00:00:00
================================================================================

================================================================================
ðŸ“Œ AVGO dataset info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 753 entries, 0 to 752
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  753 non-null    datetime64[ns]
 1   open                  753 non-null    float64
 2   high                  753 non-null    float64
 3   low                   753 non-null    float64
 4   close                 753 non-null    float64
 5   adjusted_close        753 non-null    float64
 6   volume                753 non-null    int64
 7   dividend_amount       753 non-null    float64
 8   split_coefficient     753 non-null    float64
 9   symbol                753 non-null    object
 10  revenue               753 non-null    float64
 11  net_income            753 non-null    float64
 12  operating_income      753 non-null    float64
 13  gross_profit          753 non-null    float64
 14  total_assets          753 non-null    float64
 15  total_liabilities     753 non-null    float64
 16  long_term_debt        753 non-null    float64
 17  cash_and_equivalents  753 non-null    float64
 18  operating_cashflow    753 non-null    float64
 19  capital_expenditures  753 non-null    float64
 20  real_gdp              753 non-null    float64
 21  real_gdp_per_capita   753 non-null    float64
 22  cpi                   753 non-null    float64
 23  inflation             753 non-null    float64
 24  unemployment          753 non-null    float64
 25  federal_funds_rate    753 non-null    float64
 26  retail_sales          753 non-null    float64
 27  treasury_yield_10y    753 non-null    float64
dtypes: datetime64[ns](1), float64(25), int64(1), object(1)
memory usage: 164.8+ KB
None

Missing values per column:
 date                    0
open                    0
high                    0
low                     0
close                   0
adjusted_close          0
volume                  0
dividend_amount         0
split_coefficient       0
symbol                  0
revenue                 0
net_income              0
operating_income        0
gross_profit            0
total_assets            0
total_liabilities       0
long_term_debt          0
cash_and_equivalents    0
operating_cashflow      0
capital_expenditures    0
real_gdp                0
real_gdp_per_capita     0
cpi                     0
inflation               0
unemployment            0
federal_funds_rate      0
retail_sales            0
treasury_yield_10y      0
dtype: int64

Date range: 2022-01-03 00:00:00 --> 2024-12-31 00:00:00
================================================================================

================================================================================
ðŸ“Œ GOOGL dataset info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 753 entries, 0 to 752
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  753 non-null    datetime64[ns]
 1   open                  753 non-null    float64
 2   high                  753 non-null    float64
 3   low                   753 non-null    float64
 4   close                 753 non-null    float64
 5   adjusted_close        753 non-null    float64
 6   volume                753 non-null    int64
 7   dividend_amount       753 non-null    float64
 8   split_coefficient     753 non-null    float64
 9   symbol                753 non-null    object
 10  revenue               753 non-null    float64
 11  net_income            753 non-null    float64
 12  operating_income      753 non-null    float64
 13  gross_profit          753 non-null    float64
 14  total_assets          753 non-null    float64
 15  total_liabilities     753 non-null    float64
 16  long_term_debt        753 non-null    float64
 17  cash_and_equivalents  753 non-null    float64
 18  operating_cashflow    753 non-null    float64
 19  capital_expenditures  753 non-null    float64
 20  real_gdp              753 non-null    float64
 21  real_gdp_per_capita   753 non-null    float64
 22  cpi                   753 non-null    float64
 23  inflation             753 non-null    float64
 24  unemployment          753 non-null    float64
 25  federal_funds_rate    753 non-null    float64
 26  retail_sales          753 non-null    float64
 27  treasury_yield_10y    753 non-null    float64
dtypes: datetime64[ns](1), float64(25), int64(1), object(1)
memory usage: 164.8+ KB
None

Missing values per column:
 date                    0
open                    0
high                    0
low                     0
close                   0
adjusted_close          0
volume                  0
dividend_amount         0
split_coefficient       0
symbol                  0
revenue                 0
net_income              0
operating_income        0
gross_profit            0
total_assets            0
total_liabilities       0
long_term_debt          0
cash_and_equivalents    0
operating_cashflow      0
capital_expenditures    0
real_gdp                0
real_gdp_per_capita     0
cpi                     0
inflation               0
unemployment            0
federal_funds_rate      0
retail_sales            0
treasury_yield_10y      0
dtype: int64

Date range: 2022-01-03 00:00:00 --> 2024-12-31 00:00:00
================================================================================

================================================================================
ðŸ“Œ MSFT dataset info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 753 entries, 0 to 752
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  753 non-null    datetime64[ns]
 1   open                  753 non-null    float64
 2   high                  753 non-null    float64
 3   low                   753 non-null    float64
 4   close                 753 non-null    float64
 5   adjusted_close        753 non-null    float64
 6   volume                753 non-null    int64
 7   dividend_amount       753 non-null    float64
 8   split_coefficient     753 non-null    float64
 9   symbol                753 non-null    object
 10  revenue               753 non-null    float64
 11  net_income            753 non-null    float64
 12  operating_income      753 non-null    float64
 13  gross_profit          753 non-null    float64
 14  total_assets          753 non-null    float64
 15  total_liabilities     753 non-null    float64
 16  long_term_debt        753 non-null    float64
 17  cash_and_equivalents  753 non-null    float64
 18  operating_cashflow    753 non-null    float64
 19  capital_expenditures  753 non-null    float64
 20  real_gdp              753 non-null    float64
 21  real_gdp_per_capita   753 non-null    float64
 22  cpi                   753 non-null    float64
 23  inflation             753 non-null    float64
 24  unemployment          753 non-null    float64
 25  federal_funds_rate    753 non-null    float64
 26  retail_sales          753 non-null    float64
 27  treasury_yield_10y    753 non-null    float64
dtypes: datetime64[ns](1), float64(25), int64(1), object(1)
memory usage: 164.8+ KB
None

Missing values per column:
 date                    0
open                    0
high                    0
low                     0
close                   0
adjusted_close          0
volume                  0
dividend_amount         0
split_coefficient       0
symbol                  0
revenue                 0
net_income              0
operating_income        0
gross_profit            0
total_assets            0
total_liabilities       0
long_term_debt          0
cash_and_equivalents    0
operating_cashflow      0
capital_expenditures    0
real_gdp                0
real_gdp_per_capita     0
cpi                     0
inflation               0
unemployment            0
federal_funds_rate      0
retail_sales            0
treasury_yield_10y      0
dtype: int64

Date range: 2022-01-03 00:00:00 --> 2024-12-31 00:00:00
================================================================================

================================================================================
ðŸ“Œ NVDA dataset info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 753 entries, 0 to 752
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  753 non-null    datetime64[ns]
 1   open                  753 non-null    float64
 2   high                  753 non-null    float64
 3   low                   753 non-null    float64
 4   close                 753 non-null    float64
 5   adjusted_close        753 non-null    float64
 6   volume                753 non-null    int64
 7   dividend_amount       753 non-null    float64
 8   split_coefficient     753 non-null    float64
 9   symbol                753 non-null    object
 10  revenue               753 non-null    float64
 11  net_income            753 non-null    float64
 12  operating_income      753 non-null    float64
 13  gross_profit          753 non-null    float64
 14  total_assets          753 non-null    float64
 15  total_liabilities     753 non-null    float64
 16  long_term_debt        753 non-null    float64
 17  cash_and_equivalents  753 non-null    float64
 18  operating_cashflow    753 non-null    float64
 19  capital_expenditures  753 non-null    float64
 20  real_gdp              753 non-null    float64
 21  real_gdp_per_capita   753 non-null    float64
 22  cpi                   753 non-null    float64
 23  inflation             753 non-null    float64
 24  unemployment          753 non-null    float64
 25  federal_funds_rate    753 non-null    float64
 26  retail_sales          753 non-null    float64
 27  treasury_yield_10y    753 non-null    float64
dtypes: datetime64[ns](1), float64(25), int64(1), object(1)
memory usage: 164.8+ KB
None

Missing values per column:
 date                    0
open                    0
high                    0
low                     0
close                   0
adjusted_close          0
volume                  0
dividend_amount         0
split_coefficient       0
symbol                  0
revenue                 0
net_income              0
operating_income        0
gross_profit            0
total_assets            0
total_liabilities       0
long_term_debt          0
cash_and_equivalents    0
operating_cashflow      0
capital_expenditures    0
real_gdp                0
real_gdp_per_capita     0
cpi                     0
inflation               0
unemployment            0
federal_funds_rate      0
retail_sales            0
treasury_yield_10y      0
dtype: int64

Date range: 2022-01-03 00:00:00 --> 2024-12-31 00:00:00
================================================================================

================================================================================
ðŸ“Œ QCOM dataset info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 753 entries, 0 to 752
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  753 non-null    datetime64[ns]
 1   open                  753 non-null    float64
 2   high                  753 non-null    float64
 3   low                   753 non-null    float64
 4   close                 753 non-null    float64
 5   adjusted_close        753 non-null    float64
 6   volume                753 non-null    int64
 7   dividend_amount       753 non-null    float64
 8   split_coefficient     753 non-null    float64
 9   symbol                753 non-null    object